<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.atmel.dt.unit.base</string>
	<key>Concrete</key>
	<false/>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Product Name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Description</key>
			<string>Your new product&apos;s name.</string>
			<key>EmptyReplacement</key>
			<string>Untitled</string>
			<key>Placeholder</key>
			<string>Untitled</string>
			<key>Type</key>
			<string>text</string>
			<key>SortOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>mcu</string>
			<key>Name</key>
			<string>Microcontroller:</string>
			<key>Description</key>
			<string>Microcontroller</string>
			<key>Default</key>
			<string>Atmega328P</string>
			<key>Type</key>
			<string>popup</string>
			<key>SortOrder</key>
			<integer>1</integer>
			<key>Units</key>
			<dict>
				<key>Atmega328P</key>
				<dict>
					<key>Targets</key>
					<array>
						<dict>
							<key>TargetIdentifier</key>
							<string>main</string>
							<key>SharedSettings</key>
							<dict>
								<key>MCU</key>
								<string>atmega328p</string>
								<key>MCUF</key>
								<string>avr5</string>
							</dict>
						</dict>
					</array>
				</dict>
				<key>Atmega328</key>
				<dict>
					<key>Targets</key>
					<array>
						<dict>
							<key>TargetIdentifier</key>
							<string>main</string>
							<key>SharedSettings</key>
							<dict>
								<key>MCU</key>
								<string>atmega328</string>
								<key>MCUF</key>
								<string>avr5</string>
							</dict>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>fcpu</string>
			<key>Name</key>
			<string>Frequency:</string>
			<key>Description</key>
			<string>Clock Frequency</string>
			<key>Default</key>
			<string>16 Mhz</string>
			<key>Type</key>
			<string>popup</string>
			<key>SortOrder</key>
			<integer>2</integer>
			<key>Units</key>
			<dict>
				<key>16 Mhz</key>
				<dict>
					<key>Targets</key>
					<array>
						<dict>
							<key>TargetIdentifier</key>
							<string>main</string>
							<key>SharedSettings</key>
							<dict>
								<key>FCPU</key>
								<string>16000000UL</string>
							</dict>
						</dict>
					</array>
				</dict>
				<key>8 Mhz</key>
				<dict>
					<key>Targets</key>
					<array>
						<dict>
							<key>TargetIdentifier</key>
							<string>main</string>
							<key>SharedSettings</key>
							<dict>
								<key>FCPU</key>
								<string>8000000UL</string>
							</dict>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Project</key>
	<dict>
		<key>SDK</key>
		<string>avr</string>
		<key>SharedSettings</key>
		<dict>
			<key>TOOLCHAINS</key>
			<string>com.atmel.toolchain.avr</string>
		</dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict/>
			<key>Release</key>
			<dict/>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>Name</key>
			<string>___VARIABLE_productName___</string>
			<key>TargetIdentifier</key>
			<string>main</string>
			<key>ProductType</key>
			<string>com.atmel.product-type.application</string>
			<key>SharedSettings</key>
			<dict>
				<key>PRODUCT_NAME</key>
				<string>___VARIABLE_productName___</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>main.c</key>
		<dict>
			<key>Path</key>
			<string>main.c</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>main.c</string>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.atmel.platform.avr</string>
	</array>
</dict>
</plist>
