<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.atmel.dt.unit.application</string>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template creates a AVR microcontroller C project.</string>
	<key>ProjectOnly</key>
	<false/>
	<key>Ancestors</key>
	<array>
		<string>com.atmel.dt.unit.base</string>
	</array>
</dict>
</plist>
