<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdditionalInfo</key>
	<dict>
		<key>BuildMachineOSBuild</key>
		<string>$(MAC_OS_X_PRODUCT_BUILD_VERSION)</string>
		<key>CFBundleSupportedPlatforms</key>
		<array>
			<string>AVR</string>
		</array>
		<key>DTCompiler</key>
		<string>$(GCC_VERSION)</string>
		<key>DTPlatformBuild</key>
		<string>$(PLATFORM_PRODUCT_BUILD_VERSION)</string>
		<key>DTPlatformName</key>
		<string>avr</string>
		<key>DTPlatformVersion</key>
		<string>none</string>
		<key>DTSDKBuild</key>
		<string>$(SDK_PRODUCT_BUILD_VERSION)</string>
		<key>DTSDKName</key>
		<string>$(SDK_NAME)</string>
		<key>DTXcode</key>
		<string>$(XCODE_VERSION_ACTUAL)</string>
		<key>DTXcodeBuild</key>
		<string>$(XCODE_PRODUCT_BUILD_VERSION)</string>
		<key>MinimumOSVersion</key>
		<string>$($(DEPLOYMENT_TARGET_SETTING_NAME))</string>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>AVR Platform</string>
	<key>CFBundleShortVersionString</key>
	<string>none</string>
	<key>CFBundleVersion</key>
	<string>none</string>
	<key>DefaultProperties</key>
	<dict>
		<key>ALWAYS_SEARCH_USER_PATHS</key>
		<string>NO</string>
		<key>ARCHS</key>
		<string>avr</string>
		<key>DEFAULT_COMPILER</key>
		<string>com.apple.compilers.llvm.clang.1_0</string>
		<key>DEPLOYMENT_TARGET_CLANG_ENV_NAME</key>
		<string>AVR_DEPLOYMENT_TARGET</string>
		<key>DEPLOYMENT_TARGET_SETTING_NAME</key>
		<string>AVR_DEPLOYMENT_TARGET</string>
		<key>LD_DEPENDENCY_INFO_FILE</key>
		<string></string>
		<key>LLVM_TARGET_TRIPLE_VENDOR</key>
		<string>atmel</string>
		<key>NATIVE_ARCH</key>
		<string>avr</string>
		<key>SDKROOT</key>
		<string>avr</string>
		<key>TARGETED_DEVICE_FAMILY</key>
		<string>7</string>
		<key>TOOLCHAINS</key>
		<string>com.atmel.toolchain.avr</string>
	</dict>
	<key>Description</key>
	<string>AVR</string>
	<key>FamilyIdentifier</key>
	<string>avr</string>
	<key>FamilyName</key>
	<string>AVR</string>
	<key>Icon</key>
	<string>Icon.icns</string>
	<key>Identifier</key>
	<string>com.atmel.platform.avr</string>
	<key>MinimumSDKVersion</key>
	<string>none</string>
	<key>Name</key>
	<string>avr</string>
	<key>OverrideProperties</key>
	<dict>
		<key>SDKROOT</key>
		<string>avr</string>
		<key>TOOLCHAINS</key>
		<string>com.atmel.toolchain.avr</string>
	</dict>
	<key>Type</key>
	<string>Platform</string>
	<key>Version</key>
	<string>none</string>
</dict>
</plist>
